* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f2f4f7;
}

/* Navbar */
.navbar {
    background-color: #1f2933;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Main Section */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

/* Card */
.card {
    background-color: white;
    padding: 30px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.card h1 {
    color: #1f2933;
    margin-bottom: 15px;
}

.card p {
    color: #555;
    font-size: 15px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 25px;
}

/* Form */
.form input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form button {
    padding: 10px 18px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    cursor: pointer;
}

.form button:hover {
    background-color: green;
}
